.about {
  display: flex;
  padding: 100px 104px 100px 70px;
  background-color: $background2;

  &__photo {
    width: 593px;
    height: 548px;
  }

  &__main {
    padding: 36px 0 14px 65px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 73px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin-bottom: 52px;
  }

  &__list_caption {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $color-black;
  }

  &__list_item {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
  }
}
