.button_blue {
  padding: 10px 24px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: $color-blue;
  color: #fff;
  cursor: pointer;
  transition: $transition;

  &:hover {
    border-color: #000;
    background-color: #fff;
    color: #000;
  }

  &:active {
    border-color: $color-blue;
    box-shadow: 0 0 5px $color-blue, 0 0 5px $color-blue;
    color: $color-blue;
    font-weight: 700;
  }

  &--submit {
    padding: 16px 48px;
  }
}
