.footer {
  padding-top: 38px;

  &__top {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 2fr;
    gap: 60px;
    padding: 0 104px 100px;
  }

  &__top_cell {
    flex-shrink: 1;
  }

  &__top_cell_title {
    display: block;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-top: 10px;
    margin-bottom: 26px;
  }

  &__top_cell_item {
    font-weight: 500;
    padding: 6px 0;
    margin-bottom: 10px;
    cursor: pointer;
    transition: $transition;

    &:first-child {
      padding-top: 0;
    }

    &:hover {
      color: #000;
      font-weight: 700;
    }
  }

  &__logo {
    font-size: 40px;
    line-height: 40px;
  }

  &__registration_label {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
  }

  &__registration_input {
    outline: none;
    padding: 16px;
    border: 1px solid #a0bcf8;
    border-radius: 8px;
    width: 296px;
    margin-bottom: 24px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 27px 0;
    background-color: #49785c;
  }

  &__contacts {
    display: flex;
    align-items: center;
  }

  &__contact {
    display: flex;
    align-items: flex-start;
    padding: 5px;
    margin-right: 94px;
    cursor: pointer;
    transition: $transition;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 1px 1px 3px #fff;
    }
  }

  &__icon {
    margin-right: 16px;
  }
}
