.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 54px 152px 76px;
  background-color: $background2;

  &__title {
    position: relative;
    margin-bottom: 26px;
  }

  &__stroke {
    position: absolute;
    top: -16px;
    right: -20px;
    font-size: 16px;
  }

  &__photo {
    width: 272px;
    height: 280px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 24px;
  }

  &__name {
    color: #000;
  }

  &__position {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: #636262;
    margin-bottom: 23px;
  }

  &__connection {
    display: flex;
    justify-content: space-between;
    width: 72px;
    margin-bottom: 19px;
  }

  &__button {
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: $color-blue;
    transition: $transition;

    &--facebook {
      background-image: url("img/icons/facebook.svg");

      &:hover {
        background-image: url("img/icons/facebook_white.svg");
        background-color: #fff;
        border: 1px solid $color-blue;
      }
    }

    &--instagram {
      background-image: url("img/icons/instagram.svg");

      &:hover {
        background-image: url("img/icons/instagram_white.svg");
        background-color: #fff;
        border: 1px solid $color-blue;
      }
    }
  }
}  
